<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteRule ^api/.*$ /api/public/index.php [L] 

	RewriteCond app/dist/%{REQUEST_FILENAME} -f
	RewriteRule ^(.*)$ /app/dist/$1 [L]

	RewriteRule ^ /app/dist/index.html [L]
</IfModule>
